/Donouts.proxy/bin/Debug/net7.0/appsettings.Development.json
/Donouts.proxy/bin/Debug/net7.0/appsettings.json
/Donouts.proxy/bin/Debug/net7.0/Donouts.proxy
/Donouts.proxy/bin/Debug/net7.0/Donouts.proxy.deps.json
/Donouts.proxy/bin/Debug/net7.0/Donouts.proxy.dll
/Donouts.proxy/bin/Debug/net7.0/Donouts.proxy.pdb
/Donouts.proxy/bin/Debug/net7.0/Donouts.proxy.runtimeconfig.json
/Donouts.proxy/bin/Debug/net7.0/Donouts.proxy.staticwebassets.endpoints.json
/Donouts.proxy/bin/Debug/net7.0/Donouts.proxy 2.dll
/Donouts.proxy/bin/Debug/net7.0/Donouts.proxy 2.pdb
/Donouts.proxy/bin/Debug/net7.0/Donouts 2.proxy
/Donouts.proxy/bin/Debug/net7.0/Microsoft.Bcl.AsyncInterfaces.dll
/Donouts.proxy/bin/Debug/net7.0/Microsoft.Bcl.TimeProvider.dll
/Donouts.proxy/bin/Debug/net7.0/System.Collections.Immutable.dll
/Donouts.proxy/bin/Debug/net7.0/System.IO.Hashing.dll
/Donouts.proxy/bin/Debug/net7.0/Yarp.ReverseProxy.dll
