@using Microsoft.Extensions.Localization;

@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Identity;
@*@inject UserManager<applicationUser> UserManager*@
@{
    var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
    var userFirstName = "";
    var userRole = "";
    var imagenUsuario = "";

    if (claimsIdentity != null)
    {

        var name = claimsIdentity.Name;
        if (name != null)
        {
            //var FullName = UserManager.FindByNameAsync(name);
            userFirstName = "test";//FullName.Result.NombreUsuario;

        }

        var role = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.Role);
        if (role != null)
        {
            userRole = role.Value.ToString();
        }

        var imagen = claimsIdentity.FindFirst("ImagenUsuario");
        if (!String.IsNullOrEmpty(imagen?.Value))
        {
            imagenUsuario = imagen.Value;
        }
        else
        {
            imagenUsuario = "/images/users/user-icon.png";
        }
    }
}


<div id="header" class="header navbar navbar-default navbar-fixed-top">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin mobile sidebar expand / collapse button -->
        <div class="navbar-header">
            <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                <img src="~/img/logo.png" class="logo" alt="" />
                Donouts
            </a>
            <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- end mobile sidebar expand / collapse button -->
        <!-- begin navbar-right -->
        <ul class="nav navbar-nav navbar-right">
            <li>
                <form class="navbar-form form-input-flat" id="TopNavBar" autocomplete="off">
                    <div class="form-group">
                        <input type="text" class="form-control" width="180" placeholder="Consulta ..." id="SerchDistributionBatch" />
                        <button type="button" class="btn btn-search"><i class="fa fa-search" onclick="Serch()"></i></button>
                        <div class="table-responsive" id="SerchToolDiv">
                          
                        </div>
                    </div>
                </form>
            </li>
            <li>
                <a href="javascript:;" data-toggle="dropdown">
                    <div class="row" style="display: inline-block">
                        <label class="text-white"> @DateTime.Now.ToString("yyyy-MM-dd")</label>
                        <i class="fas fa-user">
                            <label class="text-white"> @userFirstName.ToString()</label>
                        </i>
                    </div>
                </a>
            </li>

            @if (User.Identity.IsAuthenticated)
            {
                <li class="dropdown navbar-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">

                        <span class="hidden"> <i class="fa fa-cog"></i></span> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu pull-right">
       @*                 @if (User.HasClaim(SecurityConstants.PERMISSION, SecurityConstants.CONSULTAR_CATALOGO_DE_USUARIOS))
                        {
                            <li><a href="@Url.Action("Index", "Users")">Usuarios</a></li>
                        }*@
                       
                        <li data-toggle="modal" data-target="#exampleModalCenter"><a>Acerca de</a></li>
                    </ul>
                </li>
            }
            <li>
                <a href="javascript:void();" data-toggle="modal" data-target="#exampleModal">
                    <i class="fas fa-sign-out-alt dropdown-menu-dark"></i>Salir
                </a>    
            </li>

        </ul>
    </div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Deseas cerrar sesión ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Al cerrar sesión se guardarán los cambios.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-success" onclick="saveOnClose()">Sí</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Acerca de</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <br />
                <br />
                
                <br />
                <br />
                <br />
            </div>
            <div class="modal-footer">
               donouts
            </div>
        </div>
    </div>
</div>